@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Importar fuentes */
/*Estilos globales*/
html {
  font-family: "Montserrat", sans-serif;
}

main {
  font-family: "Roboto", sans-serif;
}

h1 {
  color: darkblue;
  text-align: center;
}

/*Header*/
header {
  background-color: #1b1552;
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
}
header img {
  width: 100px;
  padding: 10px;
}
header .menu ul {
  font-family: DINProBold;
  list-style: none;
  padding-left: 0%;
  margin-bottom: 0%;
}
header .menu ul li {
  align-items: center;
  text-align: center;
  padding: 5px;
}
header .menu ul li:hover {
  background-color: white;
}
header .menu ul li a {
  color: white;
  padding: 16px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}
header .menu ul li a:hover {
  color: #1b1552;
}
header .menu ul .actual {
  background-color: lightgray;
}
header .menu ul .actual a {
  color: #1b1552;
}

.main-nosotros .banner {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.main-nosotros .banner .bg-image {
  opacity: 0.5;
  max-width: 100%;
  height: auto;
}
.main-nosotros .banner .nosotros {
  color: #1b1552;
  font-size: 35px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.main-servicios .grid-servicios {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  justify-items: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
.main-servicios .grid-servicios img {
  width: 80%;
}

.main-productos .mt-4 .grid-productos {
  margin-top: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
  justify-items: center;
  align-items: center;
}
.main-productos .mt-4 .card {
  margin: 10px;
  padding: 5px;
}
.main-productos .mt-4 .card .card-img-top {
  height: 80%;
}

/* Estilo footer */
footer {
  background-color: lightgrey;
  padding: 5px;
}
footer .contenedor-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
footer .derechos-footer {
  display: flex;
  flex-direction: column;
  margin: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: darkslategrey;
  align-items: center;
}
footer .media-footer {
  display: flex;
  flex-direction: row;
  justify-self: center;
  gap: 3%;
}
footer .logo {
  border-radius: 25%;
  padding: 5px;
  width: 80px;
}

/* Media queries */
@media screen and (min-width: 768px) {
  .main-servicios .grid-servicios {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
    margin-bottom: 15px;
  }
}
/* Media queries */
@media screen and (min-width: 1024px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
  }
  header .menu ul {
    display: flex;
    font-family: DINProBold;
    list-style: none;
    padding-right: 100px;
  }
  .main-productos .mt-4 .grid-productos {
    margin-top: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    justify-items: center;
    align-items: center;
  }
  .main-productos .mt-4 .grid-productos .card {
    margin: 10px;
    padding: 5px;
    width: 90%;
  }
  .main-productos .mt-4 .grid-productos .card .card-img-top {
    height: 200px;
  }
  footer .contenedor-footer {
    display: grid;
    grid-template-columns: repeat(3, 15%);
    grid-template-rows: 30%;
    justify-items: baseline;
    align-items: center;
    justify-content: space-around;
    align-content: center;
  }
  footer .logo-footer {
    justify-self: baseline;
  }
  footer .derechos-footer {
    display: flex;
    flex-direction: column;
    margin: 10px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: darkslategrey;
  }
  footer .media-footer {
    display: flex;
    flex-direction: row;
    padding-right: 5%;
    gap: 3%;
  }
  .main-nosotros .banner .nosotros {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10%;
    padding: 0 10% 0 10%;
  }
  .main-servicios .grid-servicios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
    margin-bottom: 15px;
  }
  .logo {
    border-radius: 25%;
    padding: 5px;
    width: 80px;
  }
  .grid-index {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: 420px 350px;
    grid-template-areas: "img1 img1 img1" "card1 card2 card3";
  }
  .img1 {
    grid-area: img1;
  }
  .card1 {
    grid-area: card1;
  }
  .card2 {
    grid-area: card2;
  }
  .card3 {
    grid-area: card3;
  }
}

/*# sourceMappingURL=main.css.map */
